@media screen and (min-width: 768px)
	
	header
		height 250px
		h1
			text-shadow 3px 3px 3px #afafaf
		img
			margin 1em 0
			width: 130px 
	section.esperar
		p
			font-size 16px
	section.temario
		li
			font-size 16px
		ul
			width 33%
			margin .3em .9em .3em .7em
			list-style disc	
			
			
		figure
			width 25%
			
			display inline-block
			img
				width 100%
	img.imagenes
		height 280px

	section.informes
		p
			font-size 16px
	section.formulario
		button
			width 15%
			margin 1em 42.5%
		input
			width 30%
			display block
			margin 1em 35%
		p.inscripcion
			display block
	section.cursosAnteriores
		figure
			display inline-block
			width 30%
			height 30%
			margin .7em .7em
			
		img
			width 100%
